{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}
<form method="post" id="loginForm" class="flexCont">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% include 'flashband.html.twig' %}

    {% if app.user %}
        <div>
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_admin_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Veuillez vous identifier</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    
    
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <button class="button" type="submit">
        S'identifier
    </button>
</form>
{% endblock %}
