
<h3>Ajouter un point</h3>

<p>Effectuez un clic droit sur la carte (ou un appui long sur mobile) pour compléter les coordonnées ci-dessous</p>


        {{ form_start(form, {'attr': {'class': 'formBase'}}) }}
<div class="formContainerBase flexCont">

    <div class="formGroup flexCont">
        {{ form_label(form.mapPointTitle, 'Titre') }}
        {{ form_widget(form.mapPointTitle) }}
        {{ form_errors(form.mapPointTitle) }}
    </div>

    <div class="formGroup flexCont">
        {{ form_label(form.mapPointDescription) }}
        {{ form_widget(form.mapPointDescription) }}
        {{ form_errors(form.mapPointDescription) }}

    </div>


    <div class="formGroup flexCont">
        {{ form_label(form.Longitude) }}
        {{ form_widget(form.Longitude) }}
        {{ form_errors(form.Longitude) }}
    </div>
    <div class="formGroup flexCont">
        {{ form_label(form.Latitude) }}
        {{ form_widget(form.Latitude) }}
        {{ form_errors(form.Latitude) }}
    </div>
    <div class="formGroup flexCont">
        {{ form_label(form.mapPointCategory) }}
        {{ form_widget(form.mapPointCategory) }}
        {{ form_errors(form.mapPointCategory) }}
    </div>

    <div>
              <button type="submit" class="button">Enregistrer</button>
            <a href="{{ path('app_admin_map') }}" class="button">Annuler</a>
    </div>

</div>

{{ form_end(form) }}

