{% extends 'home/index.html.twig' %}

{% block title %}Carte interactive{% endblock %}

{% block content %}
<div class="contentContainer">
<h2>Gestion de la carte</h2>

<div class="filterOptions flexCont">
    <h4>Filtrer par catégorie</h4>
    <form method="get" action="{{ path('app_admin_map') }}">
        <select name="categoryId" onchange="this.form.submit()">
            <option value="">Toutes les catégories</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == categoryFilter %}selected{% endif %}>{{ category.PointCategory }}</option>
            {% endfor %}
        </select>
    </form>

   
   <div id="map">


   
   </div>

      <div class="addPointForm">

{% include 'map/map-point-new.html.twig' with {'form': form}%}

   </div>

<div>
<h3>Liste des points</h3>  

<ul class="listBase flexCont">
    {% for point in mapPoints %}
        <li class="listBaseItem">
            <div class="listItemTitle">
                <img src="{{ asset('images/icons/location-pin-solid.svg') }}" alt="Icon" class="listItemIcon" />
                <span>{{ point.map_point_title}} </span>
            </div>
            <div class="listItemAction">
                <a href="{{ path('app_admin_map_points_delete', {'id': point.map_point_id}) }}" class="button needs-confirmation">Effacer</a>
            </div>
        </li>
    {% endfor %}


</div>



</div>

    <script>
        var mapPoints = {{ mapPointsJson|raw }};
    </script>

{% endblock %}


