{% extends 'home/index.html.twig' %}

{% block title %}Catégories de marqueur{% endblock %}

{% block content %}
<div class="contentContainer">
<h2>Gestion des catégories de marqueur</h2>
    <a href="{{ path('app_admin_map_points_category_new') }}" class="button">Créer catégorie</a>

<h3>Liste des catégories</h3>

 
   <ul class="listBase flexCont">
        {% for category in categories %}
            
            <li class="listBaseItem">
            
                <div class="listItemTitle">
                    <img src="{{ asset('images/icons/handshake-solid.svg') }}" alt="Icon" class="listItemIcon" />
                    <span>{{ category.mapPointCategory }} </span>
                </div>
                
                <div class="listItemAction">
                    <a href="{{ path('app_admin_map_points_category_edit', {'id': category.map_point_category_id}) }}" class="button">Editer</a>
                    <a href="{{ path('app_admin_map_points_category_delete', {'id': category.map_point_category_id}) }}" class="button needs-confirmation">Effacer</a>
                </div>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}