{% extends 'home/index.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block content %}
<div class="contentContainer">
<h2>Gestion des Partenaires</h2>
    <a href="{{ path('app_admin_partner_new') }}" class="button">Créer partenaire</a>

<h3>Liste des Partenaires</h3>

 
   <ul class="listBase">
        {% for partner in partners %}
            
            <li class="listBaseItem"><div class="listItemTitle"><img src="{{ asset('images/icons/handshake-solid.svg') }}" alt="Icon" class="listItemIcon" /><span>{{ partner.name }} </span></div><div class="listItemAction"><a href="{{ path('app_admin_partner_edit', {'id': partner.id}) }}" class="button">Editer</a><a href="{{ path('app_admin_partner_delete', {'id': partner.id}) }}" class="button">Effacer</a></div></li>
        {% endfor %}
    </ul>

</div>
{% endblock %}