{% extends 'home/index.html.twig' %}

{% block title %}Ajout | Partenaire{% endblock %}

{% block content %}
    

    {{ form_start(form, {'attr':{'class':'formBase flexCont'} }) }}

    <div class="formContainerBase flexCont">
    <h3>Ajouter partenaire</h3>

    <div class="formGroup flexCont">
    {{ form_label(form.partnerName, 'Nom*') }}
        {{ form_widget(form.partnerName) }}
    </div>

    <div class="formGroup flexCont">
    {{ form_label(form.partnerLogo, 'Logo') }}
 {{ form_widget(form.file, {'attr': { 'class': 'form-control-file'}}) }}
    </div>

       <div id="imagePreview"></div>

    <div class="formGroup flexCont">
    {{ form_label(form.partnerDescription, 'Description') }}
{{ form_widget(form.partnerDescription) }}
    </div>

    <div class="formGroup flexCont">
    {{ form_label(form.partnerCategory, 'Catégorie*') }} 
    {{ form_widget(form.partnerCategory) }}
    </div>
        
    <button type="submit" class="button">Enregistrer</button>
    <a href="{{ path('app_admin_partner') }}" class="button">Annuler</a>

    </div>

    {{ form_end(form) }}
{% endblock %}
