{% extends 'home/index.html.twig' %}

{% block title %}Ajout | Groupe{% endblock %}

{% block content %}
 

    {{ form_start(form, {'attr':{'class':'formBase flexCont'} }) }}

    <div class="formContainerBase flexCont">
    <h3>Ajout d'un groupe</h3>

    <div class="formGroup flexCont">
        {{ form_label(form.band_name, 'Nom du groupe') }}
        {{ form_widget(form.band_name, {'attr': {'class': 'form-control', 'maxlength': 100} }) }}
        {{ form_errors(form.band_name) }}

    </div>
    
    <div class="formGroup flexCont">
        {{ form_label(form.band_description) }}
        {{ form_widget(form.band_description, {'attr': {'class': 'form-control', 'maxlength': 150}}) }}
        {{ form_errors(form.band_description) }}
    </div>
    
<div class="formGroup flexCont">
    {{ form_label(form.file) }}
    {{ form_widget(form.file, {'attr': { 'class': 'form-control-file'}}) }}
    {{ form_errors(form.file) }}
</div>


       <div id="imagePreview"></div>
    
    <div class="formGroup flexCont">
        {{ form_label(form.music_style, 'Style de musique') }}
        {{ form_widget(form.music_style, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.music_style) }}
    </div>
    
    {# Notez que url_image est de type HiddenType, donc nous n'affichons pas de label ou de widget ici #}
    {{ form_widget(form.band_image) }}

    <button type="submit" class="button">Enregistrer</button>
    <a href="{{ path('app_admin_band') }}" class="button">Annuler</a>

    </div>

    {{ form_end(form) }}
{% endblock %}
