{% extends 'home/index.html.twig' %}

{% block title %}Edition | Groupe{% endblock %}

{% block content %}
 

    {{ form_start(form, {'attr':{'class':'formBase'} }) }}

    <div class="formContainerBase">
    <h3>Ajout d'un groupe</h3>

    <div class="formGroup">
        {{ form_label(form.name, 'Nom du groupe') }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    
    <div class="formGroup">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>
    
<div class="formGroup">
    {{ form_label(form.file) }}
    {{ form_widget(form.file, {'attr': { 'class': 'form-control-file'}}) }}
    {{ form_errors(form.file) }}
</div>


       <div id="imagePreview">

        {% if urlImage %}
            <img src="{{ asset(urlImage) }}" alt="Image" class="imagePreview" />
             <button type="button" onclick="removeImage()">Supprimer</button>
        {% endif %}

       </div>
    
    <div class="formGroup">
        {{ form_label(form.music_style, 'Style de musique') }}
        {{ form_widget(form.music_style, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.music_style) }}
    </div>
    
    {# Notez que url_image est de type HiddenType, donc nous n'affichons pas de label ou de widget ici #}
    {{ form_widget(form.url_image) }}

    <button type="submit" class="button">Enregistrer modification</button>
    <a href="{{ path('app_admin_band') }}" class="button">Annuler</a>

    </div>

    {{ form_end(form) }}
{% endblock %}
