{% extends 'home/index.html.twig' %}

{% block title %}Edition | Style de musique{% endblock %}

{% block content %}
    {{ form_start(form, {'attr' : {'class' : 'formBase'}}) }}
    <div class="formContainerBase">
    <h3>Modifier style de musique</h3>
    <div class="formGroup">
        {{ form_label(form.name, 'Nouveau Style') }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <button type="submit" class="button">Enregistrer modification</button>

    <a href="{{ path('app_admin_style') }}" class="button">Annuler</a>
    {{ form_end(form) }}

    </div>
{% endblock %}
