{% extends 'home/index.html.twig' %}

{% block title %}Style de musique{% endblock %}

{% block content %}



<div class="contentContainer">

{% include 'flashband.html.twig'%}



<h2>Gestion des styles musicaux</h2>
    <a href="{{ path('app_admin_style_new') }}" class="button">Créer style</a>

<h3>Liste des styles</h3>

 
   <ul class="listBase flexCont">
        {% for style in styles %}
            
            <li class="listBaseItem">
            
                <div class="listItemTitle">
                    <img src="{{ asset('images/icons/music-solid.svg') }}" alt="Icon" class="listItemIcon" />
                    <span>{{ style.name }} </span>
                </div>
                
                <div class="listItemAction">
                    <a href="{{ path('app_admin_style_edit', {'id': style.id}) }}" class="button">Editer</a>
                    <a href="{{ path('app_admin_style_delete', {'id': style.id}) }}" class="button needs-confirmation">Effacer</a>
                </div>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}