{% extends 'home/index.html.twig' %}

{% block content %}


    {{ form_start(form, {'attr': {'class': 'formBase flexCont'}}) }}
    
    <div class="formContainerBase flexCont">

        <h3>Ajouter/Éditer Actualité</h3>

    <div class="formGroup flexCont">
        {{ form_label(form.NewsCategory, 'Catégorie') }}
        {{ form_widget(form.NewsCategory) }}
        {{ form_errors(form.NewsCategory) }}

        <div class="formGroup flexCont">
        {{ form_label(form.news_title, 'Titre')}}
        {{ form_widget(form.news_title) }}
        {{ form_errors(form.news_title) }}
    </div>
        
    <div class="formGroup flexCont">
        {{ form_label(form.news_content, 'Contenu') }}
        {{ form_widget(form.news_content) }}
        {{ form_errors(form.news_content) }}
    </div>


    
 <button type="submit" class="button">Enregistrer</button>
            <a href="{{ path('app_admin_news') }}" class="button">Annuler</a>
    
    </div>
    {{ form_end(form) }}
{% endblock %}
