{% extends 'home/index.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block content %}
<div class="contentContainer">

{% include 'flashband.html.twig'%}

<h2>Gestion des actualités</h2>

<p>Vous pouvez ici gérer les actualités et événements du festival. Les catégories  "Alerte Météo" et "Evènement de sécurité" donneront lieu à l'affichage d'un bandeau rouge sur le frontend.</p>
    <a href="{{ path('app_admin_news_new') }}" class="button">Créer actualité</a>

    <div class="filterOptions flexCont">
        <h4>Filtrer par catégorie</h4>
        <form method="get" action="{{ path('app_admin_news') }}">
            <select name="categoryId" onchange="this.form.submit()">
                <option value="">Toutes les catégories</option>
                {% for category in categories %}
                    <option value="{{ category.newsCategoryId }}" {% if category.newsCategoryId == categoryFilter %}selected{% endif %}>{{ category.newsCategoryName }}</option>
                {% endfor %}
            </select>
        </form>

<h3>Liste des actualités</h3>

{% if news|length == 0 %}
        <p>Aucune évènement/actualité trouvé</p>

    {% else %}

        <div class="listCount">
            <p>{{ news|length }} Actualité(s) trouvée(s)</p>
             
        </div>
        
    {% endif %}
 
   <ul class="listBase flexCont">
        {% for content in news %}
            
            <li class="listBaseItem">
            <div class="listItemTitle"><img src="{{ asset('images/icons/newspaper-solid.svg') }}" alt="Icon" class="listItemIcon" />
            <span>{{ content.newsTitle}} </span></div>
            <div class="listItemAction">
            <a href="{{ path('app_admin_news_edit', {'id': content.newsId}) }}" class="button">Editer</a>
            <a href="{{ path('app_admin_news_delete', {'id': content.newsId}) }}" class="button needs-confirmation">Effacer</a>
            </div>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}