{% extends 'home/index.html.twig' %}

{% block title %}Ajout | Section FAQ{% endblock %}

{% block content %}
    {{ form_start(form, {'attr' : {'class' : 'formBase flexCont'}}) }}
    <div class="formContainerBase flexCont">
    <h3>Ajout d'une Section</h3>
    <div class="formGroup flexCont">
        {{ form_label(form.faqCategoryName, 'Nouvelle Section') }}
        {{ form_widget(form.faqCategoryName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.faqCategoryName) }}
    </div>
    <button type="submit" class="button">Enregistrer</button>

    <a href="{{ path('app_admin_faq_category') }}" class="button">Annuler</a>
    {{ form_end(form) }}

    </div>
{% endblock %}
