{% extends 'home/index.html.twig' %}

{% block content %}


    {{ form_start(form, {'attr': {'class': 'formBase flexCont'}}) }}
    
    <div class="formContainerBase flexCont">

        <h3>Ajouter/Éditer FAQ</h3>

        <div class="formGroup flexCont">
        {{ form_label(form.section, 'Section')}}
        {{ form_widget(form.section) }}
        {{ form_errors(form.section) }}
    </div>
        
    <div class="formGroup flexCont">
        {{ form_label(form.faqContentTitle, 'Titre du contenu') }}
        {{ form_widget(form.faqContentTitle) }}
        {{ form_errors(form.faqContentTitle) }}
    </div>
    
    <div class="formGroup flexCont">
        {{ form_label(form.faqContentDetails, 'Contenu') }}
        {{ form_widget(form.faqContentDetails) }}
        {{ form_errors(form.faqContentDetails) }}
    </div>
    
   
 <button type="submit" class="button">Enregistrer</button>
            <a href="{{ path('app_admin_faq_content') }}" class="button">Annuler</a>
    
    </div>
    {{ form_end(form) }}
{% endblock %}
