{% extends 'home/index.html.twig' %}

{% block title %}Contenu FAQ{% endblock %}

{% block content %}
<div class="contentContainer">
<h2>Gestion des informations générales et contenus FAQ</h2>
    <a href="{{ path('app_admin_faq_content_new') }}" class="button">Créer contenu</a>

<h3>Liste des contenus</h3>


 <div class="filterOptions">
        <h4>Filtrer par section</h4>
        <form method="get" action="{{ path('app_admin_faq_content') }}">
            <select name="sectionId" onchange="this.form.submit()">
                <option value="">Toutes les sections</option>
                {% for section in sections %}
                    <option value="{{ section.id }}" {% if section.id == sectionFilter %}selected{% endif %}>{{ section.category }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

{% if contents|length == 0 %}
        <p>Aucun contenu trouvé</p>
    {% endif %}

   <ul class="listBase">
        {% for content in contents %}
            
            <li class="listBaseItem">
                <div class="listItemTitle">
                    <img src="{{ asset('images/icons/info-solid.svg') }}" alt="Icon" class="listItemIcon" />
                    <span>{{ content.title }} </span>
                </div>
                
                <div class="listItemAction">
                    <a href="{{ path('app_admin_faq_content_edit', {'id': content.id}) }}" class="button">Editer</a>
                    <a href="{{ path('app_admin_faq_content_delete', {'id': content.id}) }}" class="button needs-confirmation">Effacer</a>
                </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
