{% extends 'home/index.html.twig' %}

{% block title %}Catégories Actualités{% endblock %}

{% block content %}
<div class="contentContainer">

{% include 'flashband.html.twig'%}

<h2>Gestion des Catégories</h2>
    <a href="{{ path('app_admin_news_category_new') }}" class="button">Créer catégories</a>

<h3>Liste des catégories</h3>

 
   <ul class="listBase">
        {% for category in categories %}
            
            <li class="listBaseItem"><div class="listItemTitle"><img src="{{ asset('images/icons/music-solid.svg') }}" alt="Icon" class="listItemIcon" /><span>{{ category.category }} </span></div><div class="listItemAction"><a href="{{ path('app_admin_news_category_edit', {'id': category.id}) }}" class="button">Editer</a><a href="{{ path('app_admin_news_category_delete', {'id': category.id}) }}" class="button">Effacer</a></div></li>
        {% endfor %}
    </ul>

</div>
{% endblock %}