{% extends 'home/index.html.twig' %}

{% block title %}Catégories de partenaires{% endblock %}

{% block content %}
<div class="contentContainer">

{% include 'flashband.html.twig'%}

<h2>Gestion des catégories de partenaires</h2>
    <a href="{{ path('app_admin_partner_category_new') }}" class="button">Créer catégorie</a>

<h3>Liste des catégories</h3>

 
   <ul class="listBase flexCont">
        {% for category in categories %}
            
            <li class="listBaseItem">
                <div class="listItemTitle">
                    <img src="{{ asset('images/icons/handshake-solid.svg') }}" alt="Icon" class="listItemIcon" />
                    <span>{{ category.partnerCategory }} </span>
                </div>
                <div class="listItemAction">
                    <a href="{{ path('app_admin_partner_category_edit', {'id': category.partnerCategoryId}) }}" class="button">Editer</a>
                    <a href="{{ path('app_admin_partner_category_delete', {'id': category.partnerCategoryId}) }}" class="button needs-confirmation">Effacer</a>
                </div>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}