{% extends 'home/index.html.twig' %}

{% block title %}Ajout | Scènes{% endblock %}

{% block content %}
   

    {{ form_start(form, {'attr': {'class':'formBase flexCont'}}) }}

    <div class="formContainerBase flexCont">

 <h3>Ajouter une nouvelle scène</h3>

        <div class="formGroup flexCont">
            {{ form_label(form.stageName, 'Nom de la scène') }}
            {{ form_widget(form.stageName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.stageName) }}
        </div>
        

        <button type="submit" class="button">Sauvegarder</button>
        <a href="{{ path('app_admin_stage') }}" class="button">Annuler</a>

    </div>
    {{ form_end(form) }}
{% endblock %}
