{% extends 'home/index.html.twig' %}

{% block title %}Ajout Editeur{% endblock %}

{% block content %}
    

{{ form_start(form, {'attr':{'class':'formBase'} }) }}


<div class="formContainerBase">
<h3>Enregistrer un éditeur</h3>

{% include 'flashband.html.twig'%}


<div class="formGroup">
       
          {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}

</div>

<div class="formGroup">

        {{ form_label(form.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}      
        {{ form_widget(form.firstName) }}
        {{ form_errors(form.firstName) }}
        
</div>

<div class="formGroup">
        
        {{ form_label(form.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.lastName) }}
        {{ form_errors(form.lastName) }}

</div>

            <button type="submit" class="button">Enregistrer</button>
    <a href="{{ path('app_admin_user') }}" class="button">Annuler</a>

</div>
    {{ form_end(form) }}
{% endblock %}